@charset "UTF-8";

html {
    color: var(--text-color-2);
    font-family: var(--font-family);
    font-weight: 500;
}



/* =========================================
    frame
========================================= */

header,
.side-menu,
.frame-right,
.frame-bottom,
.frame-left {
    position: fixed;
    background-color: var(--sub-color-1);
}


/* header
------------------------------------- */
header {
    top: 0;
    left: 0;
    z-index: 998;
    width: 100vw;
    height: 75px;
}

.header-container {
    display: flex;
    align-items: flex-end;
    height: 75px;
    margin: 0 300px 0 15px;
}

.gnav {
    display: flex;
    justify-content: space-around;
    width: calc(100vw - 315px);
}

.gnav li {
    position: relative;
}

.gnav li a {
    display: block;
    position: relative;
    margin-left: 20px;
    padding: 15px 30px 15px;
    color: var(--text-color-1);
    font-size: 20px;
    font-weight: bold;
}

.gnav li a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    filter: brightness(0) saturate(100%) invert(19%) sepia(87%) saturate(2066%) hue-rotate(180deg) brightness(94%) contrast(102%);
}

.gnav li a.home::before {
    background: url(../images/icon/f_icon_home1.svg) no-repeat;
}

.gnav li a.news::before {
    background: url(../images/icon/f_icon_news2.svg) no-repeat;
}

.gnav li a.agenda::before {
    background: url(../images/icon/f_icon_agenda2.svg) no-repeat;
}

.gnav li a.study::before {
    background: url(../images/icon/f_icon_search.svg) no-repeat;
}

.gnav li a.work::before {
    background: url(../images/icon/f_icon_job2.svg) no-repeat;
}

.gnav li a.mypage::before {
    background: url(../images/icon/f_icon_mypage.svg) no-repeat;
}

.gnav li:hover,
.gnav li.active {
    border-radius: 20px 20px 0 0;
    background-color: var(--accent-color);
}

.gnav li:hover a,
.gnav li.active a {
    color: var(--text-color-3);
}

.gnav li:hover::after,
.gnav li.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 998;
    transform: translate(-50%, 100%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 13px 0 13px;
    border-color: var(--accent-color) transparent transparent transparent;
}

.gnav li:hover a::before,
.gnav li.active a::before {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7486%) hue-rotate(146deg) brightness(101%) contrast(105%);
}

.header-container .site-logo {
    display: none;
}

@media screen and (max-width: 1324px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;
    }

    .gnav {
        display: none;
    }

    .header-container .site-logo {
        display: block;
    }

    .hamburger-btn span,
    .hamburger-btn span::before,
    .hamburger-btn span::after {
        display: block;
        width: 40px;
        height: 3px;
        border-radius: 50px;
        background-color: var(--main-color);
        transition: all 0.3s ease;
    }

    .hamburger-btn span {
        position: relative;
    }

    .hamburger-btn span::before {
        content: "";
        position: absolute;
        top: -10px;
    }

    .hamburger-btn span::after {
        content: "";
        position: absolute;
        top: 10px;
    }

    .hamburger-btn.active span {
        background-color: transparent;
    }

    .hamburger-btn.active span::before {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger-btn.active span::after {
        transform: translateY(-10px) rotate(-45deg);
    }
}


/* side-menu
------------------------------------- */
.side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    right: 0;
    z-index: 999;
    width: 300px;
    height: 100vh;
    padding: 25px 15px 40px;
}

.side-menu .site-logo {
    width: 80%;
    margin: 0 auto 30px;
}

.side-menu .site-logo img {
    width: 100%;
}

.side-menu .contents-box {
    padding: 15px;
    background-color: var(--main-color);
    border-radius: 15px;
}

.side-menu .calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-radius: 15px 15px 5px 5px;
    background-color: var(--text-color-3);
}

.side-menu .calendar-data {
    position: relative;
    width: 190px;
    height: 95px;
}

.side-menu .calendar-data .month,
.side-menu .calendar-data .day,
.side-menu .calendar-data .border,
.side-menu .calendar-data .week {
    position: absolute;
}

.side-menu .calendar-data .month {
    top: 5px;
    left: 0;
    font-size: 45px;
}

.side-menu .calendar-data .day {
    top: -22px;
    right: 0;
    font-size: 110px;
}

.side-menu .calendar-data .week {
    bottom: 0;
    left: 0;
    color: var(--sub-color-3);
    font-size: 40px;
}

.side-menu .calendar-data .border {
    top: 14px;
    left: 60px;
    transform: rotate(30deg);
    width: 3px;
    height: 40px;
    border-radius: 50px;
    background-color: var(--text-color-2);
}

.side-menu .countdown,
.side-menu .today-short {
    color: var(--text-color-3);
    text-align: center;
}

.countdown-title,
.today-short .short-title {
    margin-bottom: 10px;
    font-size: 18px;
}

.countdown {
    padding: 20px 0;
    border-bottom: 1px dashed var(--text-color-3);
}

.countdown-data {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-end;
}

.data-number {
    font-size: 40px;
}

.data-sub-title {
    font-size: 23px;
}

.today-short {
    padding: 20px 0 10px;
}

.today-short .short-text {
    font-size: 20px;
}




.side-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto 40px;
}

.side-menu-list li {
    position: relative;
    width: 185px;
    margin: 0 auto;
}

.side-menu-list li a {
    position: relative;
    margin-left: 20px;
    padding: 15px 30px 15px 35px;
    color: var(--text-color-1);
    font-size: 20px;
    font-weight: bold;
}

.side-menu-list li a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    filter: brightness(0) saturate(100%) invert(19%) sepia(87%) saturate(2066%) hue-rotate(180deg) brightness(94%) contrast(102%);
}

.side-menu-list li a.calendar-list::before {
    background: url(../images/icon/f_icon_calendar1.svg) no-repeat;
}

.side-menu-list li a.question::before {
    background: url(../images/icon/f_icon_qa.svg) no-repeat;
}

.side-menu-list li a.report::before {
    background: url(../images/icon/f_icon_report.svg) no-repeat;
}

.logout-btn {
    display: flex;
    justify-content: center;
}

.logout-btn a {
    padding: 15px 70px;
    border-radius: 50px;
    background-color: var(--main-color);
    color: var(--text-color-3);
    font-size: 20px;
}

@media screen and (max-width: 1324px) {
    .side-menu {
        display: none;
    }
}


/* frame-right
------------------------------------- */
.frame-right {
    display: none;
    top: 0;
    right: 0;
    z-index: 997;
    width: 15px;
    height: 100vh;
}

@media screen and (max-width: 1324px) {
    .frame-right {
        display: block;
    }
}


/* frame-bottom
------------------------------------- */
.frame-bottom {
    bottom: 0;
    left: 0;
    z-index: 997;
    width: 100vw;
    height: 15px;
}


/* frame-left
------------------------------------- */
.frame-left {
    top: 0;
    left: 0;
    z-index: 997;
    width: 15px;
    height: 100vh;
}



/* =========================================
    main
========================================= */

main {
    padding: 75px 300px 0 15px;
}

.container {
    padding: 75px 65px;
}

@media screen and (max-width: 1324px) {
    main {
        padding: 75px 15px 0;
    }
}



/* =========================================
    footer
========================================= */

footer {
    margin: 0 300px 15px 15px;
    padding: 50px 65px;
    background-color: var(--footer-color);
    color: var(--text-color-3);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--text-color-3);
}

.footer-logo {
    margin-bottom: 40px;
}

.footer-company-info {
    margin-bottom: 20px;
}

.footer-company-info p {
    line-height: 23px;
}

.footer-icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.footer-icons img {
    width: 40px;
    height: 40px;
}

.footer-company-view {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px 50px;
    position: relative;
    margin-right: 80px;
    padding-bottom: 30px;
}

.footer-company-view li:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.footer-company-view li:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.footer-company-view li:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}

.footer-company-view li:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
}

.footer-company-view li:nth-child(5) {
    grid-column: 2;
    grid-row: 1;
}

.footer-company-view li:nth-child(6) {
    grid-column: 2;
    grid-row: 2;
}

.footer-company-view li:nth-child(7) {
    grid-column: 2;
    grid-row: 3;
}

.footer-container::after {
    content: "";
    background: url('../images/f_q_egg.png') no-repeat;
    background-size: 100%;
    width: 70px;
    height: 90px;
    bottom: 0px;
    right: 20px;
    position: absolute;
}

.copyright {
    padding-top: 20px;
    text-align: center;
}

@media screen and (max-width: 1324px) {
    footer {
        margin: 0 15px;
    }
}



/* =========================================
    parts
========================================= */

/* page-title
------------------------------------- */

.page-title {
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 10px;
    border-bottom: 1px dashed var(--main-color);
}

.page-title h2 {
    position: relative;
    padding-left: 33px;
    font-size: 26px;
    font-weight: bold;
}

.page-title h2::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 13px;
    height: 13px;
    background-color: #74A0FF;
}

.page-title h2::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 13px;
    width: 10px;
    height: 10px;
    background-color: #3AB5DE;
}


/* search
------------------------------------- */

.search {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.search-container {
    position: relative;
}

.search .search-text {
    width: 300px;
    padding: 12px 60px 12px 10px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

input::placeholder {
    color: var(--placeholder-color);
}

.search .submit {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    width: 50px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--accent-color);
    background-image: url(../images/icon/f_icon_textbook.svg);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 50%;
    color: var(--text-color-3);
}


/* bread-crumbs
------------------------------------- */

.bread-crumbs {
    margin: 0 300px 0 15px;
    padding: 15px 65px;
    background-color: var(--main-color);
    color: var(--text-color-3);
}

.bread-crumbs ol {
    display: flex;
    flex-wrap: wrap;
}

.bread-crumbs li {
    display: flex;
    column-gap: 1px;
    justify-content: center;
    align-items: center;
}

.bread-crumbs li:not(:last-of-type)::after {
    content: ">";
    margin: 0 20px;
}

@media screen and (max-width: 1324px) {
    .bread-crumbs {
        margin: 0 15px;
    }
}
