@charset "UTF-8";

table {
    border-collapse: collapse;
    border-radius: 15px;
}

tr {
    display: flex;
    gap: 30px;
}

td {
    padding: 15px 0;
}

.table-title {
    width: 200px;
}

.table-title p {
    padding: 5px 10px;
    background-color: var(--sub-color-1);
    border-radius: 7px;
    text-align: center;
}

.table-text {
    flex: 1;
    margin-top: 5px;
}

.page-content h3 {
    margin-bottom: 0;
}
