@charset "UTF-8";

html {
    color: var(--text-color-2);
    font-family: var(--font-family);
    font-weight: 500;
}

input::placeholder {
    color: var(--placeholder-color);
}

/* =========================================
    header
========================================= */
header,
header::before,
header::after {
    position: fixed;
    background-color: var(--sub-color-1);
}

header {
    top: 0;
    left: 0;
    z-index: 998;
    width: 100vw;
    height: 75px;
}

header::before,
header::after {
    content: "";
}

header::before {
    top: 0;
    left: 0;
    width: 15px;
    height: 100vh;
}

header::after {
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 15px;
}

.header-container {
    display: flex;
    align-items: flex-end;
    height: 75px;
    margin: 0 300px 0 15px;
}

.gnav ul {
    display: flex;
    justify-content: space-around;
    width: calc(100vw - 315px);
}

.gnav li {
    position: relative;
}

.gnav li a {
    display: block;
    position: relative;
    padding: 15px 30px 15px 50px;
    color: var(--text-color-1);
    font-size: 20px;
    font-weight: bold;
}

.gnav li a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    filter: brightness(0) saturate(100%) invert(19%) sepia(87%) saturate(2066%) hue-rotate(180deg) brightness(94%) contrast(102%);
}

.gnav li a.home::before {
    background: url(../images/icon/f_icon_home.svg) no-repeat;
}

.gnav li a.news::before {
    background: url(../images/icon/f_icon_news.svg) no-repeat;
}

.gnav li a.agenda::before {
    background: url(../images/icon/f_icon_agenda.svg) no-repeat;
}

.gnav li a.study::before {
    background: url(../images/icon/f_icon_study.svg) no-repeat;
}

.gnav li a.work::before {
    background: url(../images/icon/f_icon_job.svg) no-repeat;
}

.gnav li a.mypage::before {
    background: url(../images/icon/f_icon_mypage.svg) no-repeat;
}

.gnav li a:hover,
.gnav li.active {
    border-radius: 20px 20px 0 0;
    background-color: var(--accent-color);
}

.gnav li:hover a,
.gnav li.active a {
    color: var(--text-color-3);
}

.gnav li:hover::after,
.gnav li.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 998;
    transform: translate(-50%, 100%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 13px 0 13px;
    border-color: var(--accent-color) transparent transparent transparent;
}

.gnav li:hover a::before,
.gnav li.active a::before {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7486%) hue-rotate(146deg) brightness(101%) contrast(105%);
}

.header-container .site-logo,
.header-container .hamburger-menu {
    display: none;
}

@media screen and (max-width: 1324px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px;
    }

    .gnav {
        display: none;
    }

    .header-container .site-logo {
        display: block;
        z-index: 99999;
    }

    .header-container .site-logo img {
        width: 100%;
        height: 50px;
    }

    .hamburger-btn {
        z-index: 9999;
    }

    .hamburger-btn span,
    .hamburger-btn span::before,
    .hamburger-btn span::after {
        display: block;
        width: 40px;
        height: 3px;
        border-radius: 50px;
        background-color: var(--main-color);
        transition: all 0.3s ease;
    }

    .hamburger-btn span {
        position: relative;
    }

    .hamburger-btn span::before {
        content: "";
        position: absolute;
        top: -10px;
    }

    .hamburger-btn span::after {
        content: "";
        position: absolute;
        top: 10px;
    }

    .hamburger-btn.active span {
        background-color: transparent;
    }

    .hamburger-btn.active span::before {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger-btn.active span::after {
        transform: translateY(-10px) rotate(-45deg);
    }

    .hamburger-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 500px;
        background-color: var(--sub-color-1);
        z-index: 999;
    }
}


/* =========================================
    aside .side-menu
========================================= */
.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 300px;
    height: 100vh;
    padding: 25px 15px 40px;
    background-color: var(--sub-color-1);
}

.side-menu::before,
.side-menu::after {
    content: "";
    position: fixed;
    width: 20px;
    height: 20px;
    background: url(../images/icon/frame-cut.svg) no-repeat;
    background-size: 100%;
}

.side-menu::before {
    top: 75px;
    left: 15px;
    transform: rotate(-90deg);
}

.side-menu::after {
    top: 75px;
    right: 300px;
}

.side-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.side-menu .site-logo {
    width: 100%;
    margin: 0 auto 20px;
}

.side-menu .site-logo img {
    width: 100%;
}

.side-menu .contents-box {
    padding: 15px;
    background-color: var(--main-color);
    border-radius: 15px;
}

.side-menu .calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    border-radius: 15px 15px 5px 5px;
    background-color: var(--text-color-3);
}

.side-menu .calendar-data {
    position: relative;
    width: 190px;
    height: 95px;
}

.side-menu .calendar-data .month,
.side-menu .calendar-data .day,
.side-menu .calendar-data .border,
.side-menu .calendar-data .week {
    position: absolute;
}

.side-menu .calendar-data .month {
    top: 5px;
    left: 0;
    font-size: 45px;
}

.side-menu .calendar-data .day {
    top: -22px;
    right: 0;
    font-size: 110px;
}

.side-menu .calendar-data .week {
    bottom: 0;
    left: 0;
    color: var(--sub-color-3);
    font-size: 40px;
}

.side-menu .calendar-data .border {
    top: 14px;
    left: 60px;
    transform: rotate(30deg);
    width: 3px;
    height: 40px;
    border-radius: 50px;
    background-color: var(--text-color-2);
}

.side-menu .countdown,
.side-menu .today-short {
    color: var(--text-color-3);
    text-align: center;
}

.countdown-title,
.today-short .short-title {
    font-size: 18px;
}

.countdown {
    display: flex;
    gap: 80px;
    align-items: flex-end;
    justify-content: center;
    padding: 30px 0 20px;
    border-bottom: 1px dashed var(--text-color-3);
}

.countdown-data {
    position: relative;
}

.data-number {
    position: absolute;
    bottom: -5px;
    right: 25px;
    color: var(--accent-color);
    font-size: 40px;
}

.data-sub-title {
    font-size: 18px;
}

.today-short {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0 10px;
}

.today-short .short-text,
.today-short .short-name {
    color: var(--accent-color);
}

.today-short .short-text {
    font-size: 20px;
}

.today-short .short-name {
    display: block;
    width: 100%;
    text-align: center;
}

.side-menu-list {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 0 auto 35px;
}

.side-menu-list li {
    position: relative;
    width: 185px;
    margin: 0 auto;
}

.side-menu-list li a {
    position: relative;
    margin-left: 20px;
    padding: 15px 30px 15px 35px;
    color: var(--text-color-1);
    font-size: 20px;
    font-weight: bold;
}

.side-menu-list li a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    filter: brightness(0) saturate(100%) invert(19%) sepia(87%) saturate(2066%) hue-rotate(180deg) brightness(94%) contrast(102%);
}

.side-menu-list li a.calendar-list::before {
    background: url(../images/icon/f_icon_calendar.svg) no-repeat;
}

.side-menu-list li a.question::before {
    background: url(../images/icon/f_icon_qa.svg) no-repeat;
}

.side-menu-list li a.report::before {
    background: url(../images/icon/f_icon_report.svg) no-repeat;
}

.logout-btn {
    display: flex;
    justify-content: center;
}

.logout-btn button {
    padding: 13px 70px;
    border-radius: 50px;
    background-color: var(--main-color);
    color: var(--text-color-3);
    font-size: 18px;
}

@media screen and (max-width: 1324px) {
    .side-menu {
        width: 15px;
        padding: 0;
    }

    .side-menu::after {
        right: 15px;
    }

    .side-menu-container {
        display: none;
    }
}


/* =========================================
    main
========================================= */
.container {
    margin: 75px 300px 0 15px;
    padding: 75px 65px 0;
}

.container::before,
.container::after {
    content: "";
    position: fixed;
    width: 20px;
    height: 20px;
    background: url(../images/icon/frame-cut.svg) no-repeat;
    background-size: 100%;
}

.container::before {
    bottom: 15px;
    left: 15px;
    transform: rotate(180deg);
}

.container::after {
    bottom: 15px;
    right: 300px;
    transform: rotate(90deg);
}

.page-content {
    font-size: 18px;
}

@media screen and (max-width: 1324px) {
    .container {
        margin: 75px 15px 0 15px;
    }

    .container::after {
        right: 15px;
    }
}

/* =========================================
    footer
========================================= */
footer {
    margin: 0 300px 15px 15px;
    padding: 50px 65px;
    background-color: var(--footer-color);
    color: var(--text-color-3);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--text-color-3);
}

.footer-logo {
    margin-bottom: 40px;
}

.footer-company-info {
    margin-bottom: 20px;
}

.footer-company-info p {
    line-height: 23px;
}

.footer-sns-icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.footer-sns-icons img {
    width: 40px;
    height: 40px;
}

.footer-menu-list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px 50px;
    position: relative;
    margin-right: 80px;
    padding-bottom: 30px;
}

.footer-menu-list li:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.footer-menu-list li:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.footer-menu-list li:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}

.footer-menu-list li:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
}

.footer-menu-list li:nth-child(5) {
    grid-column: 2;
    grid-row: 1;
}

.footer-menu-list li:nth-child(6) {
    grid-column: 2;
    grid-row: 2;
}

.footer-menu-list li:nth-child(7) {
    grid-column: 2;
    grid-row: 3;
}

.copyright {
    padding-top: 20px;
    text-align: center;
}

@media screen and (max-width: 1324px) {
    footer {
        margin: 0 15px 15px;
    }
}

@media screen and (max-width: 900px) {
    .footer-container {
        display: block;
    }

    .footer-logo img {
        width: 350px;
    }

    .footer-menu-list {
        margin-top: 50px;
    }
}

/* =========================================
    parts
========================================= */

/* page-title
------------------------------------- */
.page-title {
    /* search配置用 */
    position: relative;
    /* title・content間隔 */
    margin-bottom: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-color);
}

.page-title h2 {
    position: relative;
    width: calc(100% - 330px);
    padding-left: 33px;
    font-size: 26px;
    font-weight: bold;
}

.page-title h2::before,
.page-title h2::after {
    content: "";
    position: absolute;
    background-color: #74A0FF;
}

.page-title h2::before {
    top: 5px;
    left: 0;
    width: 13px;
    height: 13px;
}

.page-title h2::after {
    top: 18px;
    left: 13px;
    width: 10px;
    height: 10px;
}

@media screen and (max-width: 1324px) {
    .page-title h2 {
        width: 100%;
    }
}


/* search
------------------------------------- */
.search {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.search-container {
    position: relative;
}

.search .search-text {
    width: 300px;
    padding: 12px 60px 12px 10px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.search .search-submit {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    width: 50px;
    padding: 10px;
    border-radius: 8px;
    background: var(--accent-color) url(../images/icon/f_icon_search.svg) no-repeat 50% / 25px;
    color: var(--text-color-3);
}


/* category-menu
------------------------------------- */
.category-menu {
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.category-menu ul,
.accordion-menu .menu-content ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    align-items: center;
    padding: 10px;
}

.category-menu li a,
.accordion-menu .menu-content ul li a {
    display: block;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: bold;
}

.category-menu li a:hover,
.category-menu li.active a,
.accordion-menu .menu-content ul li a:hover,
.accordion-menu .menu-content ul li.active a {
    border-radius: 11px;
    background-color: var(--sub-color-1);
}


/* accordion-menu
------------------------------------- */
.accordion-menu {
    margin-bottom: 50px;
    padding: 15px 15px 0;
    border-radius: 10px;
    background-color: var(--sub-color-2);
}

.accordion-menu.active {
    padding: 15px;
}

.accordion-menu .menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 20px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}

.accordion-menu .menu-content {
    display: none;
    border-radius: 10px;
    background-color: var(--text-color-3);
}

.accordion-btn span,
.accordion-btn span::before {
    display: block;
    width: 15px;
    height: 2px;
    background-color: var(--text-color-2);
}

.accordion-btn span {
    position: relative;
}

.accordion-btn span::before {
    content: "";
    position: absolute;
    transform: rotate(90deg);
    transition: 0.5s;
}

.accordion-menu.active .accordion-btn span::before {
    transform: rotate(0deg);
}


/* content-list
------------------------------------- */
.content-list {
    margin-bottom: 50px;
}

.content-list table {
    width: 100%;
}

.content-list tr {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 20px;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: dashed 1px #5f5f5f;
}

.content-list tr+tr {
    padding-top: 25px;
}

.content-list .date {
    width: 90px;
    font-size: 18px;
}

.content-list .category p {
    width: 120px;
    padding: 7px 0;
    border-radius: 10px;
    color: var(--text-color-3);
    font-size: 16px;
    text-align: center;
}

.content-list .category-news {
    background-color: #c59cff;
}

.content-list .category-agenda {
    background-color: #83BE85;
}

.content-list .title {
    flex: 1;
    font-size: 18px;
}

.content-list .title a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .content-list tr {
        align-items: flex-end;
    }

    .content-list .title {
        flex: unset;
        width: 100%;
    }
}

/* pagination
------------------------------------- */
.pagination {
    margin-bottom: 50px;
}

.pagination ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.pagination ul li:not(.prev, .next) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    font-size: 18px;
    color: var(--text-color-2);
}

.pagination ul li.active {
    background-color: var(--accent-color);
    color: var(--text-color-3);
    border-color: var(--accent-color);
}

.pagination ul li a:not(.prev a, .next a) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pagination .prev a,
.pagination .next a {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
}

.pagination .prev a {
    margin-right: 10px;
    border-width: 12px 20px 12px 0;
    border-color: transparent var(--accent-color) transparent transparent;
}

.pagination .next a {
    margin-left: 10px;
    border-width: 12px 0 12px 20px;
    border-color: transparent transparent transparent var(--accent-color);
}

/* btn-list
------------------------------------- */
.btn-list {
    margin-bottom: 50px;
}

.btn-list ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    text-align: center;
}

.btn-list ul li a {
    display: block;
    border-radius: 50px;
    background-color: var(--accent-color);
    color: var(--text-color-3);
    font-size: 18px;
}

.btn-list .short-btn a {
    padding: 13px 40px;
}

.btn-list .default-btn a {
    padding: 13px 70px;
}

@media screen and (max-width: 768px) {
    .btn-list ul {
        flex-direction: column;
        margin: 0 auto;
        max-width: 300px;
    }
}

/* bread-crumbs
------------------------------------- */
.bread-crumbs {
    margin: 0 -65px;
    padding: 15px 65px;
    background-color: var(--main-color);
    color: var(--text-color-3);
}

.bread-crumbs ol {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
}

.bread-crumbs li {
    display: flex;
    column-gap: 1px;
    justify-content: center;
    align-items: center;
}

.bread-crumbs li:not(:last-of-type)::after {
    content: ">";
    margin: 0 20px;
}





/* file
------------------------------------- */
