@charset "UTF-8";

table {
    border-collapse: collapse;
    border-radius: 15px;
}

table, th, td {
    border: 1px solid #000;
}

td {
    padding: 15px 0 15px 15px;
}

.table-title {
    width: 200px;
}

.table-title p {
    padding: 5px 10px;
    background-color: var(--sub-color-1);
    border-radius: 7px;
    text-align: center;
}

.page-content h3 {
    margin-bottom: 0;
}
