@charset "UTF-8";

table {
    border-collapse: collapse;
    border-radius: 15px;
    width: 100%;
}

tr {
    display: flex;
    gap: 30px;
    padding: 15px 0;
    border-bottom: 1px dashed var(--text-color-2);
}

td {
    padding: 15px 0;
}

.table-title {
    width: 200px;
    font-weight: 500;
}

.table-title p {
    padding: 5px 10px;
    background-color: var(--sub-color-1);
    border-radius: 7px;
    text-align: center;
}

.table-text {
    flex: 1;
    margin-top: 5px;
}

.page-content h3 {
    margin-bottom: 0;
}



.teacher-detail {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
}

.teacher-detail .teacher-profile {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 1000px;
}

.teacher-data-flex {
    display: flex;
    gap: 15px;
}

.teacher-detail h3 {
    position: relative;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.teacher-detail h3::before {
    content: "";
    position: absolute;
    background-color: #74A0FF;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 13px;
    height: 13px;
}

.teacher-data h3 {
    margin-bottom: 15px;
}

.teacher-profile {
    margin-bottom: 30px;
}

.profile-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 275px;
    padding: 50px 10px;
    background-color: var(--main-color);
    border-radius: 15px;
}

.profile-left .teacher-image {
    width: 80%;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-left .teacher-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-left .teacher-name {
    font-size: 22px;
    text-align: center;
    color: var(--text-color-3);
}

.profile-right {
    width: calc(100% - 325px);
}

.profile-right div+div {
    margin-top: 30px;
}

@media screen and (max-width: 959px) {
    .profile-left,
    .profile-right {
        width: calc(100%);
    }



}
