@charset "UTF-8";

.page-content {
    max-width: 1000px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
}

.page-content blockquote+blockquote,
.page-content blockquote+h2 {
    margin-top: 50px;
}

.page-content p+p,
.page-content p+h3,
.page-content p+h4,
.page-content p+table,
.page-content div+div,
.page-content h4+h3,
.page-content p+center,
.page-content center+h3 {
    margin-top: 30px;
}

.page-content h2 {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px dashed var(--sub-color-3);
    font-size: 1.22em;
    font-weight: bold;
    color: var(--sub-color-3);
}

.page-content h3 {
    margin-bottom: 20px;
    font-size: 1.11em;
    font-weight: bold;
}

.page-content ol {
    margin: 30px 0 30px 40px;
    list-style: decimal;
}

.page-content ul {
    margin: 30px 0 30px 40px;
    list-style: disc;
}

.page-content li {
    margin-bottom: 10px;
}

.page-content a {
    color: var(--sub-color-3);
    text-decoration: underline;
}

.page-content a:hover {
    color: var(--accent-color);
}
