@charset "UTF-8";

.editor-contents {
    margin-bottom: 50px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 23px;
}

.editor-contents h2 {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px dashed var(--sub-color-3);
    font-size: 22px;
    font-weight: bold;
    color: var(--sub-color-3);
}

.editor-contents h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.editor-contents h4 {
    font-weight: bold;
}

.editor-contents h5 {}

.editor-contents h6 {}

.editor-contents p {}

.editor-contents ol {}

.editor-contents ul {
    margin-left: 35px;
    list-style: disc;
}

.editor-contents ol {
    margin-left: 35px;
    list-style: decimal;
}

.editor-contents a:not(.editor-contents h3 a) {
    font-weight: normal;
    color: var(--sub-color-3);
    text-decoration: underline;
}

.editor-contents a:hover,
.editor-contents a:not(.editor-contents h3 a):hover {
    color: var(--accent-color);
    text-decoration: underline;
}

.editor-contents p+p,
.editor-contents p+ul,
.editor-contents ul+p,
.editor-contents ul+small {
    margin-top: 20px;
}

.editor-contents p+h2,
.editor-contents p+h3,
.editor-contents blockquote+h2,
.editor-contents blockquote+h3 {
    margin-top: 30px;
}

.editor-contents section+section {
    margin-top: 30px;
}

.editor-contents small {
    display: block;
}
