@charset "UTF-8";

.page-content {
    max-width: 1280px;
    margin-bottom: 40px;
    font-weight: Medium;
    font-size: var(--font-size);
    line-height: 1.8rem;
    letter-spacing: 1px;
}

.page-content h2 {
    margin-top: 40px;
    margin-bottom: 15px;
    /* padding-bottom: 10px; */
    /* border-bottom: 1px dashed var(--sub-color-3); */
    color: var(--main-color);
    font-weight: bold;
    font-size: 1.2em;
}

.page-content h3 {
    margin: 20px 20px 10px;
    font-weight: bold;
    font-size: 1.1em;
    color: var(--main-color);
}

.page-content ol {
    margin: 30px 0 30px 40px;
    list-style: decimal;
}

.page-content ul {
    margin: 30px 0 30px 40px;
    list-style: disc;
}

.page-content li {
    margin-bottom: 10px;
}

.page-content a {
    color: var(--text-color-4);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 6px;
    overflow-wrap: break-word;
    word-break: break-all;
    margin-bottom: 30px;
}

.page-content a:hover {
    color: var(--accent-color);
    transition: 0.2s;
}

.page-content .file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px dashed var(--main-color);
}

.page-content .file p {
    color: var(--main-color);
}

.page-content .file .btn {
    padding: 7px 50px;
    border-radius: 50px;
    background-color: var(--accent-color);
    color: var(--text-color-3);
    font-size: 16px;
    text-decoration: none;
}

.page-content img {
    max-width: 100%;
}

/* table */
.page-content .table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.page-content table,
.page-content table tr,
.page-content table td {
    border: 1px solid var(--text-color-1);
}

.page-content table {
    width: 100%;
    min-width: 800px;
}

.page-content table th,
.page-content table td {
    padding: 10px 15px;
}

.page-content table th {
    background-color: var(--sub-color-1);
}

.page-content blockquote+blockquote,
.page-content blockquote+h2,
.page-content .file+h3 {
    margin-top: 50px;
}

.page-content p {
    margin: 1rem;
}

.page-content p+h2,
.page-content p+h3,
.page-content p+h4,
.page-content p+table,
.page-content div+div,
.page-content div+h4,
.page-content h4+h3,
.page-content p+center,
.page-content center+h3,
.page-content p+.attachment {
    margin-top: 30px;
}

.page-content p+.file {
    margin-top: 20px;
}
