@charset "UTF-8";

/* 日報フォーム */

.form-content {
    max-width: 1000px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 1px;
}

.form-content p {
    margin-bottom: 50px;
}

.form-item {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    /* margin-bottom: 30px; */
    padding-bottom: 30px;
    border-bottom: 1px dashed #5e5e5e;
}

.form-item+.form-item {
    margin-top: 30px;
}

.item-label {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 220px;
    margin-top: 10px;
    /* margin-bottom: 15px; */
    font-weight: 500;
}

.required {
    padding: 2px 10px;
    color: #fff;
    background-color: #ff0000;
    border-radius: 15px;
    font-size: 13px;

}

input,
textarea {
    padding: 10px;
    border: 1px solid var(--text-color-2);
    border-radius: 6px;
    background-color: var(--text-color-3);
    font-weight: 500;
}

input::placeholder,
textarea::placeholder {
    color: var(--placeholder-color);
}

input[id="name"],
input[id="mail"] {
    width: 300px;
}

input[id="date"] {
    width: 150px;
}

textarea {
    flex: 1;
}

.privacy-policy {
    margin-top: 30px;
}

.privacy-policy p {
    margin-bottom: 10px;
}

.privacy-policy a {
    color: var(--sub-color-3);
    text-decoration: underline;
}

.privacy-policy a:hover {
    color: var(--accent-color);
}

.form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    padding: 13px 70px;
    border-radius: 25px;
    background-color: #FFB71D;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
}

.form-btn {
    margin: 50px auto;
}

.form-btn:hover {
    box-shadow: 0 7px 30px -5px rgb(0, 0, 0, 0.3);
}

@media screen and (max-width: 959px) {
    .form-item {
        display: block;
    }

    .item-label {
        margin-bottom: 10px;
    }

    textarea {
        width: 100%;
    }
}


/* confirm */
.confirm {
    text-align: center;
    line-height: 27px;
    letter-spacing: 1px;
}

.confirm h2 {
    margin-bottom: 60px;
    font-size: 32px;
    color: var(--main-color);
    font-weight: bold;
}

.confirm p {
    font-size: 18px;
}

.confirm p+p {
    margin-top: 30px;
}

.confirm .form-btn {
    display: inline-block;
}
