@charset "UTF-8";

/* create
------------------------------------- */
.form-content {
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 1px;
}

.form-content .description-text,
.form-content .report-form div:not(.form-btn-container),
.form-content .form-confirm div:not(.form-btn-container) {
    max-width: 1000px;
}

.form-content .description-text {
    margin-bottom: 50px;
}

.form-item,
.confirm-item {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    padding-bottom: 30px;
    border-bottom: 1px dashed #5e5e5e;
}

.form-item+.form-item,
.confirm-item+.confirm-item {
    margin-top: 30px;
}

.item-label {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 220px;
    margin-top: 10px;
    font-weight: 500;
}

.font-medium .item-label {
    width: 255px;
}

.font-large .item-label {
    width: 276px;
}

.required {
    padding: 2px 10px;
    border-radius: 15px;
    background-color: #ff0000;
    color: #fff;
    font-size: 12px;
}

input,
textarea {
    padding: 10px;
    border: 1px solid var(--text-color-2);
    border-radius: 6px;
    background-color: var(--background-color-2);
    font-weight: 500;
}

input::placeholder,
textarea::placeholder {
    color: var(--placeholder-color);
}

input[id="name"],
input[id="mail"] {
    width: 300px;
}

input[id="date"] {
    width: 165px;
}

textarea {
    flex: 1;
    resize: none;
}

.form-item .period {
    margin-top: 10px;
}

.privacy-policy {
    margin-top: 30px;
}

.privacy-policy p {
    margin-bottom: 10px;
}

.privacy-policy a {
    color: var(--sub-color-3);
    text-decoration: underline;
}

.privacy-policy a:hover {
    color: var(--accent-color);
}

.form-btn-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.form-btn {
    display: inline-block;
    margin: 50px 0;
    padding: 13px 70px;
    border-radius: 25px;
    background-color: var(--accent-color);
    color: #fff;
    font-size: 1em;
}

@media screen and (max-width: 959px) {
    .form-item {
        display: block;
    }

    .item-label {
        margin-bottom: 10px;
    }

    textarea {
        width: 100%;
    }
}

/* confirm
------------------------------------- */
.confirm-item label {
    padding: 5px 10px;
    border-radius: 7px;
    background-color: var(--sub-color-1);
}

.confirm-item p {
    flex: 1;
    margin-top: 15px;
    font-weight: 500;
}

.back-btn {
    padding: 13px 38px;
    background-color: var(--main-color);
}

/* complete
------------------------------------- */
.complete {
    font-size: var(--font-size);
    text-align: center;
    line-height: 27px;
    letter-spacing: 1px;
}

.complete h2 {
    margin-bottom: 60px;
    font-size: 32px;
    color: var(--main-color);
    font-weight: bold;
}

.complete p+p {
    margin-top: 30px;
}

/* info
------------------------------------- */
.btn-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
