@charset "UTF-8";

.list-container {
    max-width: 1000px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
}

.learning-container {
    display: flex;
    gap: 30px;
}

.container-left {
    flex: 1;
}

.learning-category {
    width: 150px;
    margin-bottom: 10px;
    padding: 3px 5px;
    border-radius: 10px;
    background-color: #83BE85;
    color: var(--text-color-3);
    text-align: center;
    font-size: 16px;
}

.learning-title {
    font-size: 23px;
    font-weight: 500;
}

.learning-img {
    width: 250px;
}
