@charset "UTF-8";

.modal-profile {
    display: none;
    position: fixed;
    top: 50%;
    left: calc((100% - 285px) / 2);
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 50px;
    border-radius: 15px;
    background-color: var(--sub-color-2);
}

.modal-customize {
    display: none;
    position: fixed;
    top: 50%;
    left: calc((100% - 285px) / 2);
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 535px;
    padding: 50px;
    border-radius: 15px;
    background-color: var(--sub-color-2);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 900;
    background-color: #5e5e5e;
    opacity: 0.8;
}

.section-box {
    margin-bottom: 30px;
    padding: 35px;
    background-color: var(--sub-color-2);
    border-radius: 15px;
}

.section-box .box-title {
    margin-bottom: 40px;
}

.section-box .box-title h3 {
    position: relative;
    padding-left: 33px;
    font-size: 26px;
    font-weight: bold;
}

.section-box .box-title h3::before,
.section-box .box-title h3::after {
    content: "";
    position: absolute;
    background-color: #74A0FF;
}

.section-box .box-title h3::before {
    top: 5px;
    left: 0;
    width: 13px;
    height: 13px;
}

.section-box .box-title h3::after {
    top: 18px;
    left: 13px;
    width: 10px;
    height: 10px;
}

.section-box .content-list {
    margin-bottom: 10px;
}

.section-flex {
    display: flex;
    gap: 40px;
}

.profile {
    width: 370px;
}

.profile-icon {
    width: 80%;
    aspect-ratio: 1/1;
    margin: 0 auto 40px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-data {
    font-size: 18px;
}

.profile-data h4 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.profile-data p {
    position: relative;
    padding: 15px 0 15px 30px;
    font-size: 20px;
}

.profile-data p::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    filter: brightness(0) saturate(100%) invert(19%) sepia(87%) saturate(2066%) hue-rotate(180deg) brightness(94%) contrast(102%);
}

.profile-data p.mail::before {
    background: url(../images/icon/f_icon_mail.svg) no-repeat;
}

.profile-data p.course::before {
    background: url(../images/icon/f_icon_textbook1.svg) no-repeat;
}

.profile-data p.division::before {
    background: url(../images/icon/f_icon_hellowork.svg) no-repeat;
}

.profile-data p.division-tel::before {
    background: url(../images/icon/f_icon_phone.svg) no-repeat;
}

.profile-data p.tel::before {
    background: url(../images/icon/f_icon_phone.svg) no-repeat;
}

.profile-data p.birthday::before {
    background: url(../images/icon/f_icon_birthday.svg) no-repeat;
}

.btn-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}

.btn-area button {
    width: 250px;
    padding: 13px 30px;
    border-radius: 50px;
    background-color: var(--main-color);
    color: var(--text-color-3);
    font-size: 18px;
    text-align: center;
}


.fc .fc-daygrid-day-number {
    padding: 10px;
}

.fc .fc-daygrid-body-natural .fc-daygrid-day-events {
    margin-bottom: 0 !important;
}


.calendar {
    flex: 1;
}

#calendar {
    margin-bottom: 15px;
}

#calendar .fc-toolbar.fc-header-toolbar {
    margin-bottom: 15px;
}

.calendar .fc-col-header tr {
    background-color: var(--accent-color);
    color: var(--text-color-3);
}

.calendar .fc-scrollgrid-section-body {
    background-color: var(--text-color-3);
}

.calendar .fc-h-event .fc-event-main {
    text-align: center;
}

.calendar .fc-h-event .fc-event-main img {
    cursor: pointer;
    /* filter: brightness(0) saturate(100%) invert(75%) sepia(42%) saturate(915%) hue-rotate(343deg) brightness(100%) contrast(102%); */
}

.memo textarea {
    width: 100%;
    border: 1px solid #5e5e5e;
}

.more-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.memo .box-title {
    margin-bottom: 20px;
}


.memo-form {
    position: relative;
}

.memo-form textarea {
    line-height: 27px;
    letter-spacing: 1px;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--text-color-3);
}

.memo-form button {
    position: absolute;
    top: -50px;
    right: 0;
    display: block;
    width: 100px;
    padding: 7px 0;
    border-radius: 10px;
    background-color: var(--accent-color);
    color: var(--text-color-3);
    font-size: 16px;
    text-align: center;
}

@media screen and (max-width: 959px) {
    .section-flex {
        flex-direction: column;
        gap: 0;
    }

    .profile {
        width: 100%;
    }

    .profile .box-content {
        display: flex;
        gap: 50px;
    }

    .profile-icon {
        width: calc(40%);
        margin: 0;
    }

}

.modal-customize {
    font-size: 18px;
}

.modal-customize .theme-color-select {
    margin-bottom: 30px;
}

.modal-customize .radio-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    margin-top: 10px;
}

.modal-customize .radio-container input {
    display: none;
}

.modal-customize .radio-container label {
    padding: 10px 25px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid var(--text-color-2);
    border-radius: 11px;
}

.modal-customize .radio-container label:hover,
.modal-customize .radio-container input[type="radio"]:checked+label {
    background-color: var(--sub-color-1);
}

.font-size-select {
    margin-bottom: 50px;
}

.modal-customize>.btn-area {
    margin-top: 20px;
}
