@charset "UTF-8";

/* category-menu
------------------------------------- */
.category-menu {
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.category-menu ul {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
}

.category-menu li a {
    display: block;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: bold;
}

.category-menu li a:hover,
.category-menu li.active a {
    border-radius: 11px;
    background-color: var(--sub-color-1);
}


/* news-list
------------------------------------- */

.news-list {
    margin-bottom: 50px;
}

.news-list table {
    width: 100%;
}

.news-list tr {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: dashed 1px #5f5f5f;
}

.news-list tr+tr {
    padding-top: 20px;
}

.news-list td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.news-list .date {
    width: 90px;
    font-size: 18px;
}

.news-list .category {
    width: 120px;
    padding: 7px 0;
    border-radius: 10px;
    color: var(--text-color-3);
    font-size: 16px;
    text-align: center;
}

.news-list .category-news {
    background-color: #c59cff;
}

.news-list .category-agenda {
    background-color: #83BE85;
}

.news-list .title {
    flex: 1;
    font-size: 18px;
}

/* news-info
------------------------------------- */

.page-content {
    margin-bottom: 50px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 23px;
}

.page-content p {
    margin-bottom: 25px;
}

.page-content img {
    width: 100%;
}


/* btn-list
------------------------------------- */

.btn-list {
    margin-bottom: 0px;
}

.btn-list ul {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.btn-list ul li a {
    display: block;
    border-radius: 50px;
    background-color: var(--accent-color);
    color: var(--text-color-3);
    font-size: 20px;
}

.btn-list .back a,
.btn-list .next a {
    padding: 15px 40px;
}

.btn-list .list a {
    padding: 15px 70px;
}



/* video
------------------------------------- */

video {
    width: 100%;
    border-radius: 15px;
}

iframe {
    width: 100%;
    height: 800px;
}
