@charset "UTF-8";

/* qa-accordion
------------------------------------- */
.qa-accordion {
    margin-bottom: 30px;
    padding: 5px 5px 0;
    border-radius: 15px;
    background-color: var(--sub-color-2);
}

.qa-accordion.active {
    padding: 5px;
}

.question-container,
.answer-content {
    display: flex;
    gap: 20px;
    align-items: center;
}

.question-container {
    padding: 10px 15px 15px 10px;
    cursor: pointer;
}

.answer-container {
    display: none;
    padding: 10px;
    border-radius: 0 0 12px 12px;
    background-color: var(--background-color-2);
}

.qa-accordion.active .accordion-btn span::before {
    transform: rotate(0deg);
}

.question-icon,
.answer-icon {
    width: 44.5px;
    padding: 5px 10px;
    border-radius: 15px;
    color: var(--text-color-3);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.question-icon {
    background-color: #8BAEFF;
}

.answer-icon {
    background-color: #FFB6AC;
}

.question-text,
.answer-text {
    flex: 1;
}

.highlight {
    padding: 0 2px;
    border-radius: 2px;
    background-color: #ffff66;
    font-weight: bold;
}
