@charset "UTF-8";

.quiz-container {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: var(--sub-color-2);
    border-radius: 15px;
    margin-bottom: 30px;
    font-size: 18px;
}

.quiz-menu {
    display: flex;
    gap: 50px;
}

.submit-btn,
.back-btn {
    display: block;
    width: 250px;
    margin: 0 auto 20px;
    padding: 13px 30px;
    border-radius: 50px;
    background-color: var(--main-color);
    color: var(--text-color-3);
    font-size: 18px;
    text-align: center;
}

.submit-btn {
    background-color: var(--accent-color);
}
