@charset "UTF-8";

/* index.blade.php */
.quiz-category {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 20px;
}

.quiz-category::before {
    content: "";
    position: absolute;
    background-color: var(--sub-color-3);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
}

.quiz-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: var(--sub-color-2);
    border-radius: 15px;
    margin-bottom: 30px;
    font-size: 18px;
}

.quiz-menu {
    display: flex;
    gap: 50px;
    align-items: center;
}

.quiz-start {
    padding: 15px 25px;
    border-radius: 15px;
    background-color: var(--main-color);
    color: var(--text-color-3);
}

@media screen and (max-width: 759px) {
    .quiz-container {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
        /* padding: 30px 25px 15px; */
    }

    .quiz-menu {
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.submit-btn,
.back-btn {
    display: block;
    width: 250px;
    margin: 0 auto 20px;
    padding: 13px 30px;
    border-radius: 50px;
    background-color: var(--main-color);
    color: var(--text-color-3);
    font-size: 18px;
    text-align: center;
}

.submit-btn {
    background-color: var(--accent-color);
}


/* show */
.quiz-form {
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
}

.question-container {
    max-width: 1000px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px dashed #000;
    font-size: var(--font-size);
}

.question-number {
    position: relative;
    margin-bottom: 15px;
    padding-left: 15px;
    /* font-size: 20px; */
}

.question-number::before {
    content: "";
    position: absolute;
    background-color: var(--sub-color-3);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
}

.question-title {
    padding-left: 15px;
    /* font-size: 20px; */
    margin-bottom: 45px;
}

.question-select {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 15px;
}

.question-select+.question-select {
    margin-top: 15px;
}

.question-select input {
    width: 13px;
    height: 13px;
}

.question-select label {
    flex: 1;
}


/* result */
.result-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.result {
    display: flex;
    align-items: center;
    width: 400px;
    margin-bottom: 50px;
    padding: 10px 0 20px 20px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.result-left {
    width: 200px;
}

.point {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #000
}

.point span {
    font-size: 40px;
}

.count {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.result-right {
    width: 180px;
}

.hantei {
    margin-top: 10px;
    font-size: 40px;
    color: rgb(115, 201, 255);
    text-align: center;
}

.hantei.active {
    color: #FF8282;
}

.result-table,
.result-table th,
.result-table td {
    border: 1px solid #000;
}

.result-table {
    width: 100%;
    min-width: 860px;
    table-layout: fixed;
    border-collapse: collapse;
}

.result-table th {
    padding: 20px 0;
    vertical-align: middle;
    text-align: center;
    background-color: #dddddd;
}

.result-table td {
    padding: 10px;
    vertical-align: middle;
}

.table-number {
    width: 40px;
    text-align: center;
}

.table-question {
    /* width: 10px; */
}

.table-select,
.table-seikai {
    width: 250px;
}

.table-hantei {
    width: 70px;
    text-align: center;
}

.result-table tr:has(p.active) {
    background-color: rgb(216, 235, 255);
}

.result-table ul li {
    margin-left: 23px;
    list-style-type: disc;
}

.result-table ul li+li {
    margin-top: 10px;
}

.result-back {
    margin: 50px auto;
    background-color: var(--accent-color);
}


/* test */
.choice-correct {
    color: #FF8282 !important;
    font-weight: bold;
}


@media screen and (max-width: 559px) {
    .result {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 10px 20px 20px;
    }
}
