@charset "UTF-8";

.accordion-menu {
    margin-bottom: 50px;
    /* padding: 20px 15px; */
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    background-color: var(--sub-color-2);
    font-size: 18px;
    font-weight: bold;
}

.accordion-menu.active {
    padding: 0 0 15px;
}

.click-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.accordion-btn span,
.accordion-btn span::before {
    display: block;
    width: 15px;
    height: 2px;
    background-color: var(--text-color-2);
}

.accordion-btn span {
    position: relative;
}

.accordion-btn span::before {
    content: "";
    position: absolute;
    transform: rotate(90deg);
    transition: 0.5s;
}

.accordion-menu.active .accordion-btn span::before {
    transform: rotate(0deg);
}

.accordion-contents {
    /* margin-top: 15px; */
    margin: 0 15px;
    background-color: var(--text-color-3);
    display: none;
    /* transition: all 0.8s; */
    border-radius: 10px;
    width: calc(100% - 30px);
}

.accordion-menu.active .accordion-contents {
    display: block;
}

.accordion-contents ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    padding: 10px;
}

.accordion-contents li a {
    display: block;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: bold;
}

.accordion-contents li a:hover,
.accordion-contents li.active a {
    border-radius: 11px;
    background-color: var(--sub-color-1);
}



/* mypage */

.box-container {
    display: flex;
    gap: 30px;
}

.contents-box.profile {
    width: 380px;
}

.contents-box.calendar {
    flex: 1;
}

textarea {
    padding: 10px;
    border: 1px solid var(--text-color-2);
    border-radius: 6px;
    background-color: var(--text-color-3);
    font-weight: 500;
    width: 100%;
}
