@charset "UTF-8";


/* 日報フォーム */

.required {
    padding: 0.2em 0.8em;
    color: #fff;
    background-color: #ff0000;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    font-size: 13px;
}

.form-item {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.item-label {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    width: 215px;
    margin-bottom: 15px;
}

input[id="name"],
input[id="mail"] {
    width: 300px;
    height: 30px;
    padding: 10px 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[id="date"] {
    width: 150px;
    height: 30px;
    padding: 10px 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: border-color 0.3s, box-shadow 0.3s;
}

textarea {
    width: 840px;
    height: 150px;
    padding: 10px 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.privacy-policy {
    margin-top: 50px;
}

.privacy-policy p {
    margin-bottom: 20px;
}

.privacy-policy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 306px;
    margin: 15px auto;
    padding: 0.6em 1.2em;
    border-radius: 25px;
    background-color: #FFB71D;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 1em;
}

.privacy-policy-button {
    margin-top: 50px;
}

.privacy-policy-button:hover {
    box-shadow: 0 7px 30px -5px rgb(0, 0, 0, 0.3);
}
