@charset "UTF-8";

/* font-loading
------------------------------------- */
/* Regular */
@font-face {
    font-family: 'Zen Maru Gothic';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/ZenMaruGothic-Regular.ttf') format('truetype');
}

/* Medium */
@font-face {
    font-family: 'Zen Maru Gothic';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/ZenMaruGothic-Medium.ttf') format('truetype');
}

/* Bold */
@font-face {
    font-family: 'Zen Maru Gothic';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/ZenMaruGothic-Bold.ttf') format('truetype');
}

/* Black */
@font-face {
    font-family: 'Zen Maru Gothic';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/ZenMaruGothic-Black.ttf') format('truetype');
}

:root {
    /* font */
    --font-family: "Zen Maru Gothic", sans-serif;

    /* font-size */
    --font-size: 18px;

    /* text-color */
    --text-color-1: #F5F5F5;
    --text-color-2: #BFC4C9;
    --text-color-3: #F5F5F5;

    /* placeholder-color */
    --placeholder-color: #7A7A7A;

    /* main-color */
    --main-color: #3BA3D0;

    /* sub-color */
    --sub-color-1: #4B7DA1;
    --sub-color-2: #275182;
    /* --sub-color-3: #6179C7; */
    --sub-color-3: #9eb5ff;

    /* accent-color */
    --accent-color: #e3a13d;

    /* footer-color */
    --footer-color: #1B1B1B;

    /* background-color */
    --background-color: #1E2A3A;

    /* submenu-background-color */
    --submenu-background-color: #d3b85d;

    --filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(26%) hue-rotate(308deg) brightness(104%) contrast(100%);

    --tag-filter: brightness(0) saturate(100%) invert(74%) sepia(97%) saturate(1510%) hue-rotate(342deg) brightness(105%) contrast(102%);
}

.font-medium {
    font-size: 20px !important;
    line-height: 33px !important;
}

.font-large {
    font-size: 22px !important;
    line-height: 37.4px !important;
}
