@charset "UTF-8";

/* font-loading
------------------------------------- */
/* Regular */
@font-face {
    font-family: 'Zen Maru Gothic';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/ZenMaruGothic-Regular.ttf') format('truetype');
}

/* Medium */
@font-face {
    font-family: 'Zen Maru Gothic';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/ZenMaruGothic-Medium.ttf') format('truetype');
}

/* Bold */
@font-face {
    font-family: 'Zen Maru Gothic';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/ZenMaruGothic-Bold.ttf') format('truetype');
}

/* Black */
@font-face {
    font-family: 'Zen Maru Gothic';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/ZenMaruGothic-Black.ttf') format('truetype');
}

:root {
    /* font */
    --font-family: "Zen Maru Gothic", sans-serif;

    /* font-size */
    --font-size: 18px;
    /* text-color */
    --text-color-1: #000;
    --text-color-2: #5E5E5E;
    --text-color-3: #FFF;

    /* placeholder-color */
    --placeholder-color: #BABABA;

    /* main-color（テーマカラー） */
    --main-color: #F9A825;
    /* 和風でも使える落ち着いた濃い黄 */

    /* sub-color（補助カラー） */
    --sub-color-1: #FFF3C4;
    /* 優しいパステル黄 */
    --sub-color-2: #FFFAEB;
    /* 背景向けの非常に薄い黄 */
    --sub-color-3: #F6C565;
    /* ホバー向けの中間黄 */

    /* accent-color（強調色） */
    --accent-color: #006eaf;
    /* 強調したい場面の濃いオレンジ寄り黄 */

    /* footer-color */
    --footer-color: #8C6C00;
    /* 落ち着いたダークゴールド */

    /* background-color */
    --background-color: #FCFCFC;

}

.font-medium {
    font-size: 20px !important;
    line-height: 30px !important;
}

.font-large {
    font-size: 22px !important;
    line-height: 33px !important;
}
