@charset "UTF-8";

/* font-loading
------------------------------------- */
/* Regular */
@font-face {
    font-family: 'Zen Maru Gothic';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/ZenMaruGothic-Regular.ttf') format('truetype');
}

/* Medium */
@font-face {
    font-family: 'Zen Maru Gothic';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/ZenMaruGothic-Medium.ttf') format('truetype');
}

/* Bold */
@font-face {
    font-family: 'Zen Maru Gothic';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/ZenMaruGothic-Bold.ttf') format('truetype');
}

/* Black */
@font-face {
    font-family: 'Zen Maru Gothic';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/ZenMaruGothic-Black.ttf') format('truetype');
}

:root {
    /* font */
    --font-family: "Zen Maru Gothic", sans-serif;

    /* font-size */
    --font-size: 18px;

    /* text-color */
    --text-color-1: #000;
    --text-color-2: #5E5E5E;
    --text-color-3: #FFF;

    /* placeholder-color */
    --placeholder-color: #BABABA;

    /* main-color */
    --main-color: #F9A825;

    /* sub-color */
    --sub-color-1: #FFF3C4;
    --sub-color-2: #FFFAEB;
    --sub-color-3: #F6C565;

    /* accent-color */
    --accent-color: #006eaf;

    /* footer-color */
    --footer-color: #8C6C00;

    /* background-color */
    --background-color: #FCFCFC;

    --filter: brightness(0) saturate(100%) invert(25%) sepia(66%) saturate(2595%) hue-rotate(183deg) brightness(93%) contrast(101%);

    --tag-filter: brightness(0) saturate(100%) invert(25%) sepia(66%) saturate(2595%) hue-rotate(183deg) brightness(93%) contrast(101%);
}

.font-medium {
    font-size: 20px !important;
    line-height: 30px !important;
}

.font-large {
    font-size: 22px !important;
    line-height: 33px !important;
}
